/* Styles for About Page */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.info-section {
    padding: 1rem 2rem;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-section p {
    font-size: 1.1rem;
    line-height: 1.5;
}
